.wrapper{
    padding: 41px 28px 31px 28px;
}

h1{
    font-size: 24px;
    margin-top: 41px;
    margin-bottom: 37px;
    text-align: center;
}

.tab{
    margin: 18px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab button{
    padding: 10px 20px;
    font-weight: 500;
    color : #828282;
}

.tab button.active{
    font-weight: 900;
    color: #000;
}



.item-list{
    margin: 0 auto;
    padding:26px 27px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 23px 24px;
}

.item {
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    box-shadow : 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.item-contents {
    padding: 19px 20px 0 20px;
}

/* 이미지 크기는 정확하게 안올수 있으니 테스트 필요 */
.item-poster{
    border: 1px solid #BDBDBD;
    box-shadow : 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 180/250;

    object-fit: cover;
}

.item-title{
    font-size: 16px;
    font-weight: 900;

    margin: 12px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-disc {
    display:grid;

    grid-template-areas: 
    "g s"
    "o o"
    "a a";
    /* gap: 5px; */
    width: 180px;

    margin-bottom: 18px;
}

.item-disc li{
    display: flex;
    font-size: 13px;
    margin-bottom: 5px;
    overflow: hidden;
}

.item-disc li :first-child{
    color: #828282;
    flex-shrink: 0;
}

.genre{
    grid-area: g;
}
.score{
    grid-area: s;
}

.actor :last-child{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.score :nth-child(2){
    padding-left: 1.3em;

    background-image: url(./img/icon-star.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.open{
    grid-area: o;
}
.actor{
    grid-area: a;
}

.btn-group {
    border-top: 1px solid #bdbdbd;
    display: flex;
    justify-content: center
}

.rsv, .pre{
    background: #f2f2f2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rsv {
    border-right: 1px solid #bdbdbd;
    border-radius: 0 0 0 10px;
}
.pre{
    border-radius: 0 0 10px 0;

    background-image: url(img/icon-play.png);
    background-repeat: no-repeat;
    background-position: 23% 45%;
}

a:focus{
    z-index: 1;
}