.wrapper{
    box-shadow: inset 0 0 10px red;
    width: 1060px;
    margin: 100px auto;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

h1,
ul,
li,
h2,
h3,
p{
    margin:0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

button{
    border: none;
    background: none;
}
button:not(:disabled){
    cursor: pointer;
}

hr{
    width: 650px;
    color: #BDBDBD;
    font-size: 2px;
}

a{
    text-decoration: none;
    color: black;
}

img {
    vertical-align: top;
}


/* .tab {
    box-shadow: inset 0 0 10px blue;
}

.item-list{
    box-shadow: inset 0 0 10px green;
}
.item{
    box-shadow: inset 0 0 10px yellow;
} */