.one {
    font-size: 10px + 10px;
}

.two {
    font-size: 30px - 10px;
}

.three {
    font-size: 10px * 2;
}

// 나누기는 리스트에서도 사용하기 때문에 혼동을 줄 수 있다.
// 그래서 괄호를 쓰거나 변수와 함께 사용하거나 덧셈을 할 때 함께 써서 / 가 나누기 임을 알려줘야 한다
.four {
    font-size: (20px / 10);
}

.five {
    font-size: 7px % 3;
}